<template name="battle">
  {{> contentFor region="nav" template="nav"}}
  
  <div class="col-sm-2">
    <a href="{{pathFor route='worlds'}}">{{_ "lobby"}}</a> 
  </div>

  
  <div class="col-sm-10">
    <canvas id="canvas-background" width="{{canvasWidth}}" height="{{canvasHeight}}" style="z-index: -1;"></canvas>
    <canvas id="canvas-foreground" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>

    <div style="position: relative; width: {{canvasWidth}}px; height: {{canvasHeight}}px">
      {{#each myPokes}}
      <img draggable="false" style="position: absolute; bottom: 90px; left: 45px; zoom: 120%;" src="{{link}}">
      {{/each}}
      {{#each enemyPokes}}
      <img draggable="false" style="position: absolute; bottom: 250px; right: 75px; zoom: 80%;" src="{{link}}">
      {{/each}}
    </div>
    
  </div>
  
  <!-- <audio autoplay loop><source src="battle.mp3" type="audio/mpeg">It appears that your browser doesn't support audio.</audio>  -->
</template>