<template name="landing">
  {{> contentFor region="nav" template="nav"}}

  <h1 align="center">KOLMON</h1>

  <div class="social" align="center">
    <a href="#" class="fa-stack fa-lg" target="_blank">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>

    <a href="https://github.com/erasaur/kolmon" class="fa-stack fa-lg" target="_blank">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </a>

    <a href="#" class="fa-stack fa-lg" target="_blank">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
  </div>
  <div class="footer" align="center">
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon">
        <i class="fa fa-envelope-o fa-fw"></i>
      </span>
      <input class="form-control" type="text" placeholder="{{_ 'subscribe'}}">
    </div>
  </div>
</template>
