<template name="landing">
  {{> contentFor region="nav" template="nav"}}

<h1 align="center"> Strong Headline! </h1>
<div align="center">
  <iframe width="420" height="315" src="//www.youtube.com/embed/btPJPFnesV4" frameborder="0" allowfullscreen></iframe><br>
</div>

<button type="button" onclick="alert('The sign up tab on the top right will drop down?')" align="center">Create An Account</button><br>
<h2 align="center">Droolworthy Screenshots</h2>
<h2 align="center">Features in bite-sized chunks w/ pretty icons</h2>

<div class="footer" align="center">
  <ul id="footer">
    <li class="sub">Facebook</li>
    <li class="sub"><a href=https://github.com/erasaur/survivor>Github</a></li>
    <li class="sub">Twitter</li>
    <li class="sub">Contact Us</li>
    <li class="sub">About </li>
    <li class="sub">Copyright©2014 </li>
  </ul>
 
  <form align="center">Subscribe:<br>
    <input type = "text"><br>
  </form> 
</div>
</template>
