<template name="landing">
  {{> contentFor region="nav" template="nav"}}

  <h1 align="center">KOLMON</h1>
  {{> landingCarousel}}
  <div class="social" align="center">
    <a href="https://facebook.com" style="text-decoration:none" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <a href="https://github.com/erasaur/kolmon" style="text-decoration:none" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <a href="https://twitter.com" style="text-decoration:none" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="footer" align="center">
    <ul id="footer">
      <li class="sub">
      </li>
    </ul>

    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon">
        <i class="fa fa-envelope-o fa-fw"></i>
      </span>
      <input class="form-control" type="text" placeholder="Subscribe">
    </div>
  </div>
</template>
